<section class="widget--profile">
    <img src="<%- widget.image.url %>" class="widget--profile__image">
    <hr class="widget__separator">
    <p class="widget__text"><%- widget.text %></p>
</section>