<% if(Array.isArray(Object.keys(widget.links)) && Object.keys(widget.links).length > 0) { %>
    <ul class="widget--social-icons">
        <% Object.keys(widget.links).forEach(key => { %>
        <li class="widget--social-icons__item">
            <a class="widget--social-icons__item" href="<%- widget.links[key] %>" rel="nofollow" target="_blank">
                <%- fa_inline(key, {prefix: 'fab'}) %>
            </a>
        </li>
        <% }) %>
    </ul>
<% } %>
<style>
.widget--social-icons {
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
}

.widget--social-icons__item {
    display: block;
    width: 24px;
    margin-right: 8px;
}

.widget--social-icons__item {
    color: #f06;
}
</style>