<main class="page__main">
    <% (page.posts || []).forEach((post, index) => { %>
        <%- include('../source/components/post-box', {post: post}) %>
    <% }) %>

    <div class="paginator">
        Paginação:  <%- paginator({
            prev_text: '[anterior]',
            next_text: '[próxima]',
        }) %>
    </div>

</main>
<aside class="page__sidebar">
    <section class="page__sidebar__section">
        <details>
            <summary>Arquivo</summary>
            <%- list_archives() %>
        </details>
    </section>
</aside>
<!--
    <%- tagcloud() %>
-->