<main class="page__main">
    <% (page.posts || []).forEach((post, index) => { %>
        <%- include('../source/components/post-box', {post: post}) %>
    <% }) %>

    <%- include('../source/components/paginator') %>

</main>
<aside class="page__sidebar">
    <section class="page__sidebar__section">
    </section>
</aside>