<main class="page__main">
    <% (page.posts || []).forEach((post, index) => { %>
        <%- include('../source/components/post-box', {post, index}) %>
    <% }) %>

    <%- include('../source/components/paginator') %>

</main>
<aside class="page__sidebar">
    <%- include('../source/components/widgets') %>
</aside>