<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    <%- is_home() ? 'homepage' : page.title -%> | <%- config.title -%>
    </title>
</head>

<body>
    <header></header>

    <%- body -%>
    <script type="text/javascript">
        window.GLOBAL = window.GLOBAL || {};
        window.GLOBAL.properties = <%-
           JSON.stringify([
             'is_home()',
             'is_current()',
             'is_home()',
             'is_post()',
             'is_page()',
             'is_archive()',
             'is_year()',
             'is_month()',
             'is_category()',
             'is_tag()',
             'Object.keys(page)',
             '(page.posts||[]).length',
             'theme',
             'config'
           ].map(function(property) {
                return {
                    property,
                    value: eval(property)
                };
           }))
       %>
    </script>
</body>
</html>
