<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    <%- is_home() ? 'homepage' : page.title -%> | <%- config.title -%>
    </title>
</head>

<body class="page">
    <header class="page__header">
    </header>

    <%- body -%>
    <script type="text/javascript">
        window.GLOBAL = window.GLOBAL || {};
        window.GLOBAL.properties = <%-
           JSON.stringify([
             'is_home()',
             'is_current()',
             'is_home()',
             'is_post()',
             'is_page()',
             'is_archive()',
             'is_year()',
             'is_month()',
             'is_category()',
             'is_tag()',
             'Object.keys(page)',
             '(page.posts||[]).length',
             'theme',
             'config'
           ].map(function(property) {
                return {
                    property,
                    value: eval(property)
                };
           }))
       %>
    </script>
<style>
.page {
    display: grid;
    grid-template-areas: ". header header ." ". main sidebar .";
    grid-template-columns: 1fr minmax(500px, 900px) minmax(268px, 300px) 1fr;
}
.page__main {
    grid-area: main;
}
.page__header {
    grid-area: header;
}
.page__sidebar {
    grid-area: sidebar;
}
.page__sidebar__section {
    position: sticky;
    top: 8px;
}

</style>
</body>
</html>
