<div class="categories-bar--mobile">
    <span class="categories-bar--mobile__toggle-button" onclick="GLOBAL.toggleMobileMenu()">
        <%- fa_inline("bars", {prefix: 'fas'}) %>
    </span>
</div>
<nav class="categories-bar" data-sel="categories-bar" onclick="GLOBAL.toggleMobileMenu()">
    <span class="categories-bar__link--action">
        <span class="categories-bar__link__button">
            <%- fa_inline("times", {prefix: 'fas'}) %>
        </span>
    </span>
    <%- replace_classes({
        "category-link": "categories-bar__link"
    },
    list_categories({
      show_count: false,
      orderby: "length",
      order: -1,
      style: false,
      class: "",
      separator: ""
    })) %>
</nav>
<script type="application/javascript">
    window.GLOBAL = window.GLOBAL || {};
    window.GLOBAL.toggleMobileMenu = function() {
        if(window.innerWidth < 768) {
            const categoriesBar = document.querySelector("[data-sel='categories-bar']");
            const body = document.querySelector("body");
            categoriesBar.style.display = categoriesBar.style.display !== "initial" ? "initial" : "none";
            body.style.overflow = body.style.overflow === "hidden" ? "initial" : "hidden";
        }
    }
</script>
<style>
.categories-bar {
    position: fixed;
    top: 0;
    padding: 0;
    bottom: 0;
    background: #fff;
    box-shadow: 3px 0 4px rgba(0, 0, 0, .2);
    z-index: 1;
    display: none;
}

.categories-bar--mobile {
    padding: 16px 24px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
    background: #fff;
}

.categories-bar:after {
    content: "";
    display: block;
    position: fixed;
    right: 0;
    width: 150px;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    top: 0;
    max-width: calc(100vw - 330px);
}

.categories-bar__link,
.categories-bar__link--action {
    display: block;
    margin: 0;
    color: #030303;
    width: calc(100vw - 150px);
    padding: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid hsl(0deg 0% 90%);
    min-width: 330px;
    box-sizing: border-box;
    line-height: 2;
    overflow: auto;
}

.categories-bar__link--action {
    display: flex;
    width: 100%;
}

.categories-bar__link__button {
    width: 24px;
    display: block;
    margin-left: auto;
    margin-right: 8px;
}

.categories-bar--mobile__toggle-button {
    display: block;
    width: 24px;
    color: #303030;
}

.categories-bar__link:first-child {
    margin-top: 40px;
}

@media(min-width: 768px) {
    .categories-bar {
        display: flex;
        position: relative;
        justify-content: center;
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, .1);
        font-weight: 600;
        font-family: sans-serif;
        padding: 16px;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, .1);
        font-size: calc(.2em + .6vw);
        margin: 0;
    }
    .categories-bar__link,
    .categories-bar__link--action {
        color: inherit;
        text-decoration: none;
        padding: 0 16px;
        width: initial;
        min-width: initial;
        line-height: initial;
        border-bottom: none;
    }

    .categories-bar__link--action {
        width: 24px;
    }

    .categories-bar__link:first-child {
        margin-top: 0;
    }

    .categories-bar:after {
        content: none;
    }

    .categories-bar__link:not(:last-child) {
        border-right: 1px solid hsl(0deg 0% 90%);
    }
    .categories-bar--mobile {
        display: none;
    }
}

</style>