<div class="paginator">
    <%- replace_classes({
        "page-number": "paginator__number",
        "page-number current": "paginator__number--current",
        "space": "paginator__number--space",
        "extend prev": "paginator__text",
        "extend next" :"paginator__text"
    }, paginator({
        prev_text: 'Anterior',
        next_text: 'Próxima'
    })) %>
</div>
<style>
.paginator {
    padding-left: 8px;
    font-family: sans-serif;
    font-size: 1em;
    margin: 16px 0;
}

.paginator__number,
.paginator__number--current,
.paginator__number--space {
    color: #333;
    text-decoration: none;
    padding: 8px 16px;
    background-color: hsl(0deg 0% 95%);
    margin: 0 4px;
    display: inline-block;
    font-weight: 600;
}

.paginator__number--current {
    color: #666;
    text-decoration: none;
    padding: 8px;
    margin: 0 8px;
    font-weight: 400;
    background-color: #fff;
}

.paginator__number--space {
    font-weight: 100;
    background-color: #fff;
}

.paginator__number--current:only-child,
.paginator__number--space:only-child,
.paginator__number:only-child {
    display:none;
}

.paginator__text {
    text-transform: uppercase;
    color: #333;
    text-decoration: none;
    padding: 8px 16px;
    margin: 0 4px;
    display: inline-block;
    font-weight: 600;
}


</style>